#header{
    text-align: center;
    background-color: aqua;
}

#links {
    display: flex;
    gap: 20em;
    font-size: 18px;
    font-weight: bold;
}

#who{
    text-align: center;
}

#profilepic{
    border-radius: 8px;
    width: 20em;
    border: 1px solid #ddd;
    margin-left: 10em;
}

#position{
    display: flex;
}

#quote{
    text-align: center;
}


#nasa{
    display: flex;
    gap: 5%;
}

#nasapic{
    border-radius: 8px;
    width: 30em;
    border: 1px solid #ddd;
    margin-left: 5%;
}

#nasainf{
    font-size: 20px;
}

#regency{
    display: flex;
    gap: 5%;
}

#regencypic{
    border-radius: 8px;
    width: 30em;
    border: 1px solid #ddd;
    margin-left: 5%;
}

#regencyinf{
    font-size: 20px;
}

#website{
    display: flex;
    gap: 5%;
}

#webvideo{
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-left: 5%;
}

#videoinf{
    font-size: 20px;
}

#homepage {
    text-align: center;
    width: 75px; /* Adjust width as needed */
    height: 35px; /* Adjust height to make it rectangular */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black; /* Optional: Adds a border */
    background-color: lightgray; /* Optional: Adds background color */
    margin: auto; /* Centers the box */
    padding: 10px; /* Adds some spacing inside */
}




