#header{
    display: flex;
    justify-content: center;
    background-color: aqua;
}

#links {
    display: flex;
    gap: 20em;
    font-size: 18px;
    font-weight: bold;
}

#who{
    display: flex;
    justify-content: center;
}

#profilepic{
    border-radius: 8px;
    width: 20em;
    border: 1px solid #ddd;
    margin-left: 10em;
}

#position{
    display: flex;
}

#quote{
    display: flex;
    justify-content: center;
}





